.text_more {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text_color {
  color: #f9c701;
}
.w40 {
  width: 40% !important;
}
.w40 .block_line02_map img {
  width: 100% !important;
  margin: 0 !important;
}
.f_L {
  float: left;
}
.f_R {
  float: right !important;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
.topdata {
  color: #f9c701;
  width: 60%;
}
.topdata div {
  width: 13.28571429%;
  margin: 0 0.5% 1%;
  font-size: 1rem;
}
.logo {
  width: 20%;
  float: left;position: relative;
}
.topname {
  height: 100%;
  width: 20%;
  float: left;
}
.topname .topname_text {
  width: auto;
  color: #fff;
  font-size: 5rem;
  text-align: center;
  padding-top: 10%;
  float: left;
  margin-left: 10px;
}
.topname .timebox {
  width: 100px;
  margin-right: 10%;
  overflow: hidden;
  float: right !important;
  padding-top: 13%;
}
.topname .timebox .timebox_clock {
  background: url("../images/timebg.png") no-repeat;
  background-size: contain;
  width: 100%;
  height: 60px;
  float: left;
}
.topname .timebox .timebox_clock .hour {
  padding: 8% 0 0 18%;
  float: left;
  font-size: 2rem;
  color: #000;
  font-weight: bold;
}
.topname .timebox .timebox_clock .minute {
  padding: 8% 0 0 15%;
  float: left;
  font-size: 2rem;
  color: #000;
  font-weight: bold;
}
.topname .timebox_button {
  width: 40px;
  float: right;
  color: #fff;
  text-align: right;
  padding-top: 13%;
  margin-right: 10%;
}
.topname .timebox_button img {
  width: 40px;
  float: left;
}
.topname .timebox_button .timebox_buttontext {
  float: left;
  line-height: 40px;
  padding-left: 10px;
  font-size: 1rem;
}
.font-sizeBigger {
  font-size: 2rem;
}
.block_line02 {
  width: 100%;
  height: 84%;
  overflow: hidden;
}
.block_line02_left {
  height: auto;
  float: left;
  overflow: hidden;
  width: 20%;
}
.block_line02_left .block_line02_databox1 {
  width: 100% !important;
  float: left;
  margin: 0 0 1% 0;
  color: #fff;
  height: 33% !important;
  box-sizing: border-box;
  padding: 0 0 0 2%;
  background: url(../images/databg.png) no-repeat !important;
  background-size: 100% 100% !important;
}
.block_line02_left .block_line02_databox1 img {
  width: 100%;
  height: 100%;
}
.block_line02_left .block_line02_databox_B {
  width: 98%;
  float: left;
  margin: 0 2% 1% 0;
  color: #fff;
  height: 33%;
  box-sizing: border-box;
  background: url(../images/databg.png) no-repeat !important;
  background-size: 100% 100% !important;
}
.block_line02_left .block_line02_databox_B img {
  width: 100%;
  height: 100%;
}
.block_line02_right {
  height: auto;
  float: left;
  overflow: hidden;
  width: 20%;
}
.block_line02_right .block_line02_databox1 {
  width: 100% !important;
  float: left;
  margin: 0 0 1% 0;
  box-sizing: border-box;
  padding: 0 2% 0 0 ;
  color: #fff;
  height: 33% !important;
  background: url(../images/databg.png) no-repeat !important;
  background-size: 100% 100% !important;
}
.block_line02_right .block_line02_databox1 img {
  width: 100%;
  height: 100%;
}
.block_line02_center {
  height: auto;
  float: left;
  overflow: hidden;
  width: 60%;
  position: relative;
}
.block_line02_center .block_line02_map {
  width: 80% !important;
  margin-left: 10%;
  position: relative;
  top: 0;
  height: 66.66666667% !important;
  /*margin-bottom: 2%;*/
}
.block_line02_center .block_line02_map img {
  width: 80%;
  margin-left: 10%;
}
.block_line02_center .block_bottom {
  width: 100%;
  position: relative;
  bottom: 0;
  height: 33.33333333%;
}
.block_line02_center .block_bottom ul {
  width: 100%;
  overflow: hidden;
}
.block_line02_center .block_bottom ul li {
  width: 31.33333333%;
  height: 40%;
  float: left;
  margin: 1% 1% 0 0;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  background: rgba(19, 74, 134, 0.6);
  padding-top: 3%;
}
.block_line02_center .block_bottom ul span {
  font-size: 3rem;
}
.block_line02_center .block_bottom ul p {
  line-height: 3rem;
}
.block_line02_center .block_bottom .block_line02_databox1 {
  height: 100% !important;
  width: 32% !important;
  margin: 0 1%;
  background: url(../images/databg2.png) no-repeat !important;
  background-size: 100% 100% !important;
  float: left;
  overflow: hidden;
}
.block_line02_center .block_bottom .block_line02_databox1 img {
  width: 100%;
  height: 100%;
}
.block_line02_center .data_iteam {
  position: absolute;
  width: 20%;
  height: auto;
  top: 30%;
  left: 75%;
  color: #fff;
  font-size: 1.4rem;
}
.block_line02_center .data_iteam p {
  line-height: 3rem;
}
.block_line02_center .data_iteam span {
  color: #eaca1e;
  font-size: 1.8rem;
  padding: 2px;
}
.block_line03_center {
  height: auto;
  float: left;
  overflow: hidden;
  width: 60%;
  position: relative;
}
.block_line03_center .block_line02_map {
  width: 80%;
  margin-left: 10%;
  position: relative;
  top: 0;
  height: 47%;
  margin-bottom: 2%;
}
.block_line03_center .block_line02_map img {
  width: 80%;
  margin-left: 10%;
}
.block_line03_center .block_bottom {
  width: 100%;
  position: relative;
  bottom: 0;
  height: 50%;
}
.block_line03_center .block_bottom ul {
  width: 98%;
  overflow: hidden;
  height: 100%;
  margin: 0 0 0 2%;
}
.block_line03_center .block_bottom ul li {
  width: 31.33333333%;
  height: 30%;
  float: left;
  margin: 1% 1% 0 0;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  background: rgba(19, 74, 134, 0.6);
  padding-top: 1%;
}
.block_line03_center .block_bottom ul span {
  font-size: 3rem;
}
.block_line03_center .block_bottom ul p {
  line-height: 3.6rem;
}
.block_line03_center .block_bottom ul .company_list_name {
  width: 100%;
  color: #fff;
  font-size: 1.6rem;
  float: left;
}
.block_line03_center .block_bottom ul .company_list_num {
  width: 100%;
  color: #fff;
  font-size: 1.6rem;
  float: left;
  color: #f9c701;
  font-size: 1.4rem;
  line-height: 2rem;
}
.block_line03_center .data_iteam {
  position: absolute;
  width: 20%;
  height: auto;
  top: 30%;
  left: 75%;
  color: #fff;
  font-size: 1.4rem;
}
.block_line03_center .data_iteam p {
  line-height: 3rem;
}
.block_line03_center .data_iteam span {
  color: #eaca1e;
  font-size: 1.8rem;
  padding: 2px;
}
@media screen and (max-width: 1024px) {
  .topname_text {
    font-size: 2rem !important;
    margin-left: 5px !important;
  }
  .timebox_button {
    padding-top: 0 !important;
  }
  .timebox {
    padding-top: 8% !important;
    margin-right: 0 !important ;
  }
  .data_iteam_style {
    width: 30%;
    left: 70%;
    font-size: 1.2rem;
  }
  .data_iteam_style p {
    line-height: 2rem;
  }
  .data_iteam_style span {
    font-size: 1.4rem;
  }
  .data_iteam {
    width: 30% !important;
    left: 70% !important;
    font-size: 1.2rem !important;
  }
  .data_iteam p {
    line-height: 2rem !important;
  }
  .data_iteam span {
    font-size: 1.4rem !important;
  }
  .topdata div {
    font-size: 1rem !important;
  }
  .font-sizeBigger {
    font-size: 1.6rem !important;
  }
}
/**********************B绔腑蹇�*********************/
.centertitle_text {
  width: 60%;
  color: #fff;
  font-size: 5rem;
  text-align: center;
  padding-top: 2%;
  float: left;
}
/**********************B绔紒涓氬垪琛�*********************/
.company_list {
  width: 100%;
  position: relative;
  bottom: 0;
  height: 33.33333333%;
}
.company_list ul {
  width: 100%;
  overflow: hidden;
}
.company_list ul li {
  width: 31.33333333%;
  height: 40%;
  float: left;
  margin: 1% 1% 0 0;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  background: rgba(19, 74, 134, 0.6);
  padding-top: 2%;
}
.company_list ul .company_list_name {
  width: 100%;
  color: #fff;
  font-size: 1.6rem;
  float: left;
}
.company_list ul .company_list_num {
  width: 100%;
  color: #fff;
  font-size: 1.6rem;
  float: left;
  color: #f9c701;
  font-size: 1.4rem;
  line-height: 2rem;
}
@media screen and (max-width: 1024px) {
  .block_line03_center .block_bottom ul span {
    font-size: 2rem;
  }
}
/**********************B绔紒涓�*********************/
.block_line02 .company_L {
  height: auto;
  float: left;
  overflow: hidden;
  width: 35%;
  height: 100%;
}
.block_line02 .company_L .company_detail {
  background: url(../images/databg3.png) no-repeat !important;
  background-size: 100% 100% !important;
  width: 90%;
  height: 100%;
  margin: 0 5%;
}
.block_line02 .company_L .company_detail .top {
  height: auto;
  float: left;
  overflow: hidden;
  width: 90%;
  margin: 5% 5% 2% 5%;
}
.block_line02 .company_L .company_detail .bottom {
  height: auto;
  float: left;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
}
.block_line02 .company_L .company_detail .bottom .block_bottom {
  width: 100%;
  position: relative;
  bottom: 0;
  height: auto;
}
.block_line02 .company_L .company_detail .bottom .block_bottom ul {
  width: 100%;
  overflow: hidden;
  height: auto;
}
.block_line02 .company_L .company_detail .bottom .block_bottom ul li {
  width: 31.33333333%;
  height: 13%;
  float: left;
  margin: 1%;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  background: rgba(19, 74, 134, 0.6);
  padding-top: 1%;
}
.block_line02 .company_L .company_detail .bottom .block_bottom ul span {
  font-size: 3rem;
}
.block_line02 .company_L .company_detail .bottom .block_bottom ul p {
  line-height: 3.6rem;
}
.block_line02 .company_L .company_detail .companylogo {
  height: auto;
  float: left;
  overflow: hidden;
  width: 30%;
}
.block_line02 .company_L .company_detail .companytext {
  color: #fff;
  font-size: 1.4rem;
  height: auto;
  float: left;
  overflow: hidden;
  width: 65%;
  margin-left: 5%;
}
.block_line02 .company_L .company_detail .companytext span {
  font-size: 1.6rem;
  padding-left: 10px;
}
.block_line02 .company_L .company_detail .companytext p {
  height: auto;
  float: left;
  overflow: hidden;
  width: 100%;
  line-height: 3rem;
}
.block_line02 .company_L .company_detail .companytext img {
  width: 100%;
  height: 100%;
}
.block_line02 .company_L .company_detail .companytext .imgL {
  height: auto;
  float: left;
  overflow: hidden;
  width: 20%;
}
.block_line02 .company_L .company_detail .companytext .imgR {
  height: auto;
  float: left;
  overflow: hidden;
  width: 80%;
  height: 16rem;
}
.block_line02 .company_L .company_detail .companytext_long {
  color: #fff;
  font-size: 1.4rem;
  height: auto;
  float: left;
  overflow: hidden;
  width: 100%;
}
.block_line02 .company_L .company_detail .companytext_long span {
  font-size: 1.6rem;
  padding-left: 10px;
}
.block_line02 .company_L .company_detail .companytext_long p {
  height: auto;
  float: left;
  overflow: hidden;
  width: 50%;
  line-height: 3rem;
}
.block_line02 .company_L img {
  width: 100%;
}
.block_line02 .company_R {
  height: auto;
  float: left;
  overflow: hidden;
  width: 65%;
}
.block_line02 .company_R .company_R_top {
  height: auto;
  float: left;
  overflow: hidden;
  width: 100%;
  height: 34%;
}
.block_line02 .company_R .company_R_top .block_line02_databox_B {
  height: 99%;
  float: left;
  margin: 0 1% 1% 0;
  color: #fff;
  width: 32.33333333%;
  background: url(../images/databg.png) no-repeat !important;
  background-size: 100% 100% !important;
}
.block_line02 .company_R .company_R_top .block_line02_databox_B img {
  width: 100%;
  height: 100%;
}
.block_line02 .company_R .trade_list {
  height: auto;
  float: left;
  overflow: hidden;
  width: 100%;
  position: relative;
  color: #fff;
}
.block_line02 .company_R .trade_list .title {
  color: #f9c701;
  font-size: 2rem;
}
.block_line02 .company_R .trade_list p {
  height: auto;
  float: left;
  width: 10.11111111%;
  padding-right: 1%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.block_line02 .company_R .commissioner_list {
  height: auto;
  float: left;
  overflow: hidden;
  width: 100%;
  color: #fff;
}
.block_line02 .company_R .commissioner_list .title {
  color: #f9c701;
  font-size: 2rem;
}
.block_line02 .company_R .commissioner_list p {
  height: auto;
  float: left;
  width: 24%;
  padding-right: 1%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.block_line02 .company_R .name {
  text-align: center;
  color: #f9c701;
  font-size: 1.4rem;
  position: absolute;
  height: auto;
  float: left;
  overflow: hidden;
  width: 97%;
  font-size: 1.2rem;
  line-height: 2rem;
  background: rgba(19, 74, 134, 0.6);
  padding: 1%;
}
.block_line02 .company_R li {
  height: auto;
  float: left;
  overflow: hidden;
  width: 97%;
  font-size: 1.2rem;
  line-height: 2rem;
  background: rgba(19, 74, 134, 0.6);
  padding: 1%;
  margin-bottom: 10px;
  text-align: center;
}
.block_line02 .company_R ul {
  height: auto;
  float: left;
  overflow: hidden;
  width: 100%;
  margin-top: 1.6rem;
  height: 30%;
  overflow-y: auto;
  margin-top: 5rem;
}
@media screen and (max-width: 1024px) {
  .block_line02 .company_L .company_detail .bottom .block_bottom ul {
    width: 100%;
    overflow: hidden;
    height: auto;
  }
  .block_line02 .company_L .company_detail .bottom .block_bottom ul li {
    font-size: 1.2rem;
    height: 10%;
  }
  .block_line02 .company_L .company_detail .bottom .block_bottom ul span {
    font-size: 1.6rem !important;
  }
  .block_line02 .company_L .company_detail .bottom .block_bottom ul p {
    line-height: 2rem !important;
  }
  .block_line02 .company_L .company_detail .companytext span {
    font-size: 1.2rem !important;
    padding-left: 10px;
  }
  .block_line02 .company_L .company_detail .companytext p {
    height: auto;
    float: left;
    overflow: hidden;
    width: 100%;
    line-height: 2rem !important;
  }
  .block_line02 .company_L .company_detail .companytext .imgL {
    height: auto;
    float: left;
    overflow: hidden;
    width: 35%;
  }
  .block_line02 .company_L .company_detail .companytext .imgR {
    height: auto;
    float: left;
    overflow: hidden;
    width: 65%;
    height: 8rem;
  }
  .block_line02 .company_R li {
    font-size: 1.2rem !important;
  }
  .block_line02 .company_R ul {
    height: auto;
    float: left;
    overflow: hidden;
    width: 100%;
    margin-top: 1.6rem;
  }
}
/**********************缃伯涓撳憳**********************/
/*瀹氫箟婊氬姩鏉￠珮瀹藉強鑳屾櫙 楂樺鍒嗗埆瀵瑰簲妯珫婊氬姩鏉＄殑灏哄*/
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background-color: rgba(19, 74, 134, 0.6);
}
/*瀹氫箟婊氬姩鏉¤建閬�鍐呴槾褰�鍦嗚*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(19, 74, 134, 0.6);
}
/*瀹氫箟婊戝潡 鍐呴槾褰�鍦嗚*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #004fa6;
}
.commissioner_L {
  height: auto;
  float: left;
  overflow: hidden;
  width: 35%;
  height: 100%;
}
.commissioner_R {
  height: auto;
  float: left;
  overflow: hidden;
  width: 65%;
  height: 100%;
}
.commissioner_L_list {
  height: auto;
  float: left;
  overflow: hidden;
  width: 98%;
  position: relative;
  padding-left: 2%;
  color: #fff;
}
.commissioner_L_list img {
  width: 98%;
  height: 100%;
}
.commissioner_L_list .change_line {
  position: absolute;
  top: 10px;
  right: 20px;
}
.commissioner_L_list .change_line div {
  float: left;
  width: 50px;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
}
.commissioner_L_list .change_line .cover {
  color: #f9c701;
}
.commissioner_L_list .title {
  color: #f9c701;
  font-size: 2rem;
}
.commissioner_L_list p {
  height: auto;
  float: left;
  width: 15.66666667%;
  padding-right: 1%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.commissioner_L_list .name {
  cursor: pointer;
  height: auto;
  float: left;
  overflow: hidden;
  width: 97%;
  font-size: 1.2rem;
  line-height: 2rem;
  background: rgba(19, 74, 134, 0.6);
  padding: 1%;
  margin-bottom: 10px;
  text-align: center;
  color: #f9c701;
  font-size: 1.4rem;
  position: absolute;
  top: 4rem;
}
.commissioner_L_list li {
  cursor: pointer;
  height: auto;
  float: left;
  overflow: hidden;
  width: 97%;
  font-size: 1.2rem;
  line-height: 2rem;
  background: rgba(19, 74, 134, 0.6);
  padding: 1%;
  margin-bottom: 10px;
  text-align: center;
}
.commissioner_L_list li:hover {
  background: #004fa6;
}
.commissioner_L_list ul {
  width: 100%;
  height: 88%;
  margin-top: 1.6rem;
  overflow-y: auto;
  margin-top: 5rem;
}
.commissioner_R_top {
  height: auto;
  float: left;
  overflow: hidden;
  width: 96%;
  padding: 0 2%;
  height: 40%;
}
.commissioner_R_top .title {
  color: #f9c701;
  font-size: 2rem;
  overflow: hidden;
}
.commissioner_R_top .title1 {
  width: 67.3333%;
  float: left;
}
.commissioner_R_top .title2 {
  width: 32.6666%;
  float: left;
}
.commissioner_R_top .infor {
  height: auto;
  float: left;
  overflow: hidden;
  width: 100%;
  margin-top: 1.6rem;
}
.commissioner_R_top .infor .blockin {
  background: rgba(19, 74, 134, 0.6);
  height: auto;
  float: left;
  width: 32.66666667%;
  height: 100% !important;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}
.commissioner_R_top .infor .blockincenter {
  height: auto;
  float: left;
  overflow: hidden;
  width: 32.66666667%;
  margin: 0 1%;
}
.commissioner_R_bottom {
  height: auto;
  float: left;
  width: 96%;
  padding: 0 2%;
  height: 40%;
  height: 58%;
  margin: 1% 0 0 0;
  overflow: hidden;
}
.commissioner_R_bottom .title {
  color: #f9c701;
  font-size: 2rem;
  overflow: hidden;
}
.commissioner_R_bottom .title1 {
  width: 67.3333%;
  float: left;
}
.commissioner_R_bottom .title2 {
  width: 32.6666%;
  float: left;
}
.commissioner_R_bottom .infor {
  height: auto;
  float: left;
  overflow: hidden;
  width: 100%;
  margin-top: 1.6rem;
}
.commissioner_R_bottom .infor .blockin {
  background: rgba(19, 74, 134, 0.6);
  height: auto;
  float: left;
  width: 32.66666667%;
  height: 100% !important;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}
.commissioner_R_bottom .infor .blockincenter {
  height: auto;
  float: left;
  overflow: hidden;
  width: 32.66666667%;
  margin: 0 1%;
}
.blockin .text_box {
  height: auto;
  float: left;
  overflow: hidden;
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
}
.blockin .text_box span {
  font-size: 1.4rem;
  padding-left: 10px;
}
.blockin .text_box p {
  height: auto;
  float: left;
  width: 50%;
  line-height: 2.6rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blockin .text_box .box_img {
  width: 48%;
  margin: 0 1%;
  height: 60%;
}
.blockin .text_box img {
  width: 100%;
  height: 100%;
}
.blockin .text_imgtitle {
  width: 100% !important;
}
.blockin .table_img {
  width: 96%;
  margin: 0 2%;
  height: 85%;
}
.blockin img {
  width: 100%;
  height: 100%;
}
.commissioner_R_bottomL {
  height: auto;
  float: left;
  overflow: hidden;
  width: 66.33%;
  height: 98%;
}
.commissioner_R_bottomL .title {
  color: #f9c701;
  font-size: 2rem;
  line-height: 3rem;
}
.commissioner_R_bottomL .name {
  top: 3rem;
}
.commissioner_R_bottomL ul {
  margin-top: 4rem;
  height: 83%;
  overflow-y: auto;
}
.commissioner_R_bottomL .ul_bg {
  background: rgba(19, 74, 134, 0.6);
  margin-top: 1rem;
  height: 89%;
}
.commissioner_R_bottomR {
  height: auto;
  float: left;
  overflow: hidden;
  width: 32.66%;
  height: 98%;
  margin-top: 0rem;
  margin-left: 1%;
}
.commissioner_R_bottomR .blockin {
  background: rgba(19, 74, 134, 0.6);
  height: auto;
  float: left;
  width: 100%;
  height: 99% !important;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}
/*******************************企业-company-page-new*****************************************/
.company-newpage_map{
    width: 80% !important;
    margin-left: 10%;
    position: relative;
    top: 0;
    height: 66.66666667% !important;
}
.company-newpage_map img {
    width: 100% !important;
    margin: 0 !important;
}
.company-newpage_data{
    width: 100%;
    position: relative;
    bottom: 0;
    height: 100%;
}

.company-newpage_data-b{
  width: 14.666%;
  height: 84%;
  float: left;
  margin: 1%;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  background: rgba(19, 74, 134, 0.6);
  padding-top: 1%;
}
.company-newpage_data-b:nth-child(1){
  margin-left:0;
}
.company-newpage_data-b span {
  font-size: 3rem;
}
.company-newpage_data-b p {
  line-height: 5rem;
}
.company-newpage_dataOut{
	height: 24% !important;
}
.company-newpage_dataOutB{
	height: 39% !important;
}
.newwidth060601{
	width:50% !important;
}
.newwidth060602{
	width:48% !important;
}
.newwidth060603{
	width:22.666% !important;
}
.centertitle_text-0606{
     position: absolute;
    top: 8%;
    right: 0;
    line-height:77px;
    margin-top: 30px;
    font-size: 3rem;
    color:#fff;
}
@media screen and (max-width: 1024px) {
  .centertitle_text-0606{
     line-height:68px;
    margin-top: 0;
    font-size: 1.8rem;
  }
}


.newwidth060605{
	width:31.666% !important;
}

.company-newpage_map-0606{
    width: 100% !important;
    position: relative;
    top: 10%;
    
    /**width: 80% !important;
    margin-left: 10%;
    position: relative;
    top: 0;*/
    height: 100% !important;
}
.company-newpage_map-0606 img {
    width: 100% !important;
    margin: 0 !important;
}
.block_line02_databox_B-0606 {
  width: 99%;
  float: left;
  margin: 0 2% 1% 0;
  color: #fff;
  height: 100%;
  box-sizing: border-box;
  background: url(../images/bg-0606.png) no-repeat !important;
  background-size: 100% 100% !important;
}
.tablebox-0606{
	width:100%;
	height: 100%;
	
}

.tablebox-0606-title{
	width: 100%; height:50px; line-height: 50px;
    color: #f9c701;
	font-size: 1.6rem;
	
}
.tablebox-0606-title>div{ 
	width:50%; float: left;text-align: center;
}
.tablebox-0606-body{
	padding:0; margin: 0;width: 98.5%;height: 275px;
	padding-left:20px;
	box-sizing:border-box;
	overflow-y:scroll; 
}
.tablebox-0606-body .tablebox-0606-bodyline{
	width: 100%;
	float: left;overflow: hidden;line-height:40px;
	font-size: 1.4rem;color: #fff;
}
.tablebox-0606-bodyline .linein{    cursor: default;
	width: 50%; float: left;
	display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.lineincenter{
	text-align: center;
}
.logo-text0606{
	color: #f9c701;
    font-size: 3rem;
    padding-top: 2%;
    padding-left: 2%;box-sizing: border-box;
}

/************************0607********************************/
.newstyle-0607-01{
	 height: 63%;
	 float: left;
    overflow: hidden;
    width: 35%;
}
.newstyle-0607-02{
	width:98.5%;float: left;
	margin-left: 1%;
}
.newstyle-0607-03{
	height: 94%;
    float: left;
    margin: 0 0 1% 0;
    color: #fff;
    width: 33.33333333%;
    background: url(../images/bg-0607.png) no-repeat !important;
    background-size: 100% 100% !important;
}

.newstyle-0607-04{
	width:31.666% !important;
	height: 89% !important;
}
.newstyle-0607-04 p{
padding-top: 20px !important;
}
.newstyle-0607-05{
	    height: 63% !important;
}
.newstyle-0607-06{
	    height: 45% !important;
}
.newstyle-0607-07{
	    height: 55% !important;
}
















